<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="index.js"></script>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Hello World!</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.

    My name is: <input id="myName" type="text" placeholdeer="name"/>
    <button class="btn btn-success" onclick="greeting()">submit</button>
    <br>
    <span id="greet">this is me</span>
  </body>
</html>